{% extends 'bootstrap/base.html' %}

<!-- Navbar block  -->
{%block styles %} {{super()}}
<link href="https://fonts.googleapis.com/css?family=Cabin|Indie+Flower|Montserrat|Neucha|Noto+Serif+JP|Noto+Serif+KR|Roboto+Mono" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"> #
<!--Importing the simple mde css and js files  -->
{{ simplemde.css}} {{ simplemde.js }} {% endblock %} {% block navbar %} {% include 'navbar.html' %} {% endblock %}